<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803996493432-k7f8tm2jde8p3l9i26dgo5qq75fusjhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803996493432-k7f8tm2jde8p3l9i26dgo5qq75fusjhp</string>
	<key>API_KEY</key>
	<string>AIzaSyDw5xqbLgus-dRMcN3uy9uDLb7mONQhUCo</string>
	<key>GCM_SENDER_ID</key>
	<string>803996493432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timetableApp</string>
	<key>PROJECT_ID</key>
	<string>timetable-app-2e7a0</string>
	<key>STORAGE_BUCKET</key>
	<string>timetable-app-2e7a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803996493432:ios:d850ae94a48cf8c297ef8d</string>
</dict>
</plist>